.venv
venv
venv/*
venv/
.env
app/data/*
.idea
__pycache__/
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
chroma/
node_modules
node_modules/
node_modules/*
node_modules/***/